<header-file></header-file>

<div class="content-wrapper">
    <div class="container-fluid">

        <div class="page-header txtsize">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#!sdt">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Viewing my dashboard</li>
                <li>

                    <button href="#" style="margin-left: 15px" class="btn btn-primary cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" title="Refresh the search" onClick="window.location.reload()"><span class="fa fa-fw fa-refresh"></span>
                    </button>
                </li>
            </ol>
        </div>
        
        <div class="row">
        
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card mb-3">
                <div class="card-header">
                <i class="fa fa-table"></i> Equipment Total Uptime</div>
                <div class="card-body">
                
                <div class="table-responsive">
                    
                    <div class="input-append">
                    <input type="text" class="form-control col-xs-12 col-sm-12 col-md-4 col-lg-4" data-ng-model="filterUptime" placeholder="Search by equipment">
                                    </div><br>
                    
                <table class="table table-bordered bordered table-striped table-condensed datatable">
                    
                    <thead>
                    <tr>
                        <th><a href="javascript:void(0)" ng-click="orderByField='system'; reverseSort = !reverseSort">System <span ng-show="orderByField == 'system'"><i ng-show="!reverseSort" class="icon-sort-up"></i><i ng-show="reverseSort" class="icon-sort-down"></i></span></a></th>
                        <th><a href="javascript:void(0)" ng-click="orderByField='equipment'; reverseSort = !reverseSort">Equipment <span ng-show="orderByField == 'equipment'"><i ng-show="!reverseSort" class="icon-sort-up"></i><i ng-show="reverseSort" class="icon-sort-down"></i></span></a></th>
                        <th>Total Uptime (Hour)</th>
                        <th>Uptime Percentage (%)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="equipment in filteredUPTime | orderBy:orderByField:reverseSort | filter: filterUptime track by $index" ng-if="!equipment.filtered">
                        <td>{{equipment.system}}</td>
                        <td>{{ equipment.equipment }}</td>
                        <td>{{ equipment.uptime | number:2 }} hrs</td>
                        <td>{{ equipment.uppercent | number:2 }} %</td>
                    </tr>
                    </tbody>
                    
                    </table>
                    
                    
                <div class="btn-group btn-group-sm" style="float: right">
                                <button type="button" class="btn" ng-class="{'btn-secondary': numPerPage == $index * 5}" ng-repeat="n in [] | range:10" ng-click="changeNumPerPage($index)" ng-if="$index != 0">{{$index * 5}}</button>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-outline-primary" ng-click="changePage('-')">Prev</button>
                                <button type="button" class="btn btn-outline-primary" ng-click="selectedPage(currentPage - 1)" ng-if="currentPage - 1 > 0">{{currentPage - 1}}</button>
                                <button type="button" class="btn btn-primary" ng-click="selectedPage(currentPage)">{{currentPage}}</button>
                                <button type="button" class="btn btn-outline-primary" ng-click="selectedPage(currentPage + 1)" ng-if="currentPage + 1 <= numbers">{{currentPage + 1}}</button>
                                <button type="button" class="btn btn-outline-primary" ng-click="changePage('+')">Next</button>
                            </div>
                </div>
                
                </div>
                
            </div>
            </div>
        </div>

    <div data-ng-controller="downtimeCtrl">
        <div class="row">

        
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
                <div class="card mb-3">
            
                    <div class="card-body">
                    
                        <div class="row"  style="margin-left: 5px, margin-right: 5px">

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                        Equipment Downtime (Hour)
                        <button class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="downloadImgHr()" title="Export graph (JPEG) to computer" id="saveImgHr"><span class="fa fa-fw fa-file-image-o"></span>
                        </button>

                        <button class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="downloadHourDash()" id="downloadhrdash" title="Print graph to PDF"><span class="fa fa-fw fa-file-pdf-o"></span>
                        </button>

                        <div class="col-xs-10 border" id="chartStyle">
                            <canvas class="chart chart-bar" chart-data="chartData" chart-labels="equipmentLabels" chart-options="chartOptions" id="hour" data-toggle="modal" data-target="#viewGraph" data-backdrop="false" chart-click="onClick" chart-colors="chartColor"></canvas>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                        Equipment Downtime Percentage (%)

                        <button class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="downloadImgPer()" title="Export graph (JPEG) to computer" id="saveImgPer"><span class="fa fa-fw fa-file-image-o"></span>
                        </button>

                        <button class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" id="downloadperdash" data-ng-click="downloadPercentDash()" title="Print graph to PDF"><span class="fa fa-fw fa-file-pdf-o"></span>
                        </button>

                        <div class="col-xs-10 border" id="chartStyle">
                            <canvas class="chart chart-bar" chart-data="percentageData" chart-labels="equipmentLabels" chart-options="chartPercentOptions" data-toggle="modal" data-target="#viewGraph" data-backdrop="false" chart-click="onClick" chart-colors="chartColor"></canvas>
                        </div>
                    </div>
                    
                </div>
                        
                    </div>
                    
                </div>
              
            </div>

        </div>


        <hr/>

        <form style="margin-left: 15px">

            <form action="" class="form-horizontal" role="form">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" data-ng-show="(monthFilter == undefined || monthFilter == '') && (dayFilter == undefined || dayFilter == '')">
                        <label for="dtp_input1" class="col-md-10 control-label">Select Start Downtime Year</label>
                        <div class="input-group date yearFilter" data-date="" data-link-field="dtp_input6">
                            <input class="form-control" size="16" type="text" value="" ng-model="yearFilter" data-ng-change="filterChange()" readonly>
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                            <span class="input-group-addon"><span class="fa fa-times" id="remove"></span></span>
                        </div>
                        <input type="hidden" id="dtp_input1" value="" />
                        <br/>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" data-ng-show="(yearFilter == undefined || yearFilter == '') && (dayFilter == undefined || dayFilter == '')">
                        <label for="dtp_input2" class="col-md-10 control-label">Select Start Downtime Month</label>
                        <div class="input-group date monthFilter" data-date="" data-link-field="dtp_input6">
                            <input class="form-control" size="16" type="text" value="" ng-model="monthFilter" data-ng-change="filterChange()" readonly>
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                            <span class="input-group-addon"><span class="fa fa-times" id="remove"></span></span>
                        </div>
                        <input type="hidden" id="dtp_input2" value="" />

                        <br/>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4" data-ng-show="(yearFilter == undefined || yearFilter == '') && (monthFilter == undefined || monthFilter == '')">
                        <label for="dtp_input3" class="col-md-10 control-label">Select Start Downtime Day</label>
                        <div class="input-group date dtFilter" data-date="" data-link-field="dtp_input6">
                            <input class="form-control" size="16" type="text" value="" ng-model="dayFilter" data-ng-change="filterChange()" readonly>
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                            <span class="input-group-addon"><span class="fa fa-times" id="remove"></span></span>
                        </div>
                        <input type="hidden" id="dtp_input3" value="" />
                        <br/>
                    </div>
                </div>

            </form>

        </form>



        <div class="modal fade" id="viewGraph">
            <div class="modal-dialog modal-lg">
                <div class="modal-content txtsize">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{pointLabel}}</h4>
                    </div>
                    <div class="modal-body">
                        <h4>Downtime description</h4>
           <div class="table-responsive">
               <table class="table table-responsive table-striped">
                    <thead>
                        <th>Equipment</th>
                        <th>Description</th>
                        <th>Start</th>
                        <th>End</th>
                    </thead>
                   
                   <tbody>
                    <tr data-ng-repeat = "desc in descriptionPush">
                       <td>{{pointLabel}}</td>
                       <td>{{desc.description}}</td>
                       <td>{{desc.start}}</td>
                       <td>{{desc.end}}</td>
                    </tr>
                   </tbody>
               </table>

           </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger txtsize" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        





    </div>
</div>