
<!--HEADER TEMPLATE LOAD-->

<header-file></header-file>

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#!maintain">Manage Equipment</a>
                </li>
                <li class="breadcrumb-item active">Maintaining system and equipment</li>
            </ol>
        </div>
        <div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                    <button type="button" class="btn btn-info cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" data-toggle="modal"
                        data-target="#addEquipment" data-backdrop="false">Add New Equipment <span class="fa fa-plus"></span>
                    </button>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-3 col-md-offset-9">
                    <button class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" value="export" title="Export table (Excel) to computer" id="btnDown"><span class="fa fa-fw fa-file-excel-o"></span>
                    </button>

                    <button class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" onclick="HTMLtoPDF()" title="Print table to PDF"><span class="fa fa-fw fa-file-pdf-o"></span>
                    </button>
                </div>


                

            </div>
            <br>
            
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="box">
                        <div class="table-responsive">
                            
                                    <div class="input-append">
                                        <input type="text" class="form-control col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-model="filterWord" placeholder="Search by equipment">
                                    </div>
                            <br>

                            <div id="HTMLtoPDF">
                            <table class="table table-bordered bordered table-striped table-condensed datatable" id="exTable">
                                <thead class="lockedRecordsBg">
                                    <tr>
                                        <th><a href="javascript:void(0)" ng-click="orderByField='equipment'; reverseSort = !reverseSort">Equipment <span ng-show="orderByField == 'equipment'"><i ng-show="!reverseSort" class="icon-sort-up"></i><i ng-show="reverseSort" class="icon-sort-down"></i></span></a></th>
                                        <th><a href="javascript:void(0)" ng-click="orderByField='system'; reverseSort = !reverseSort">System <span ng-show="orderByField == 'system'"><i ng-show="!reverseSort" class="icon-sort-up"></i><i ng-show="reverseSort" class="icon-sort-down"></i></span></a></th>
                                        <th><a href="javascript:void(0)" ng-click="orderByField='description'; reverseSort = !reverseSort">Description <span ng-show="orderByField == 'description'"><i ng-show="!reverseSort" class="icon-sort-up"></i><i ng-show="reverseSort" class="icon-sort-down"></i></span></a></th>
                                        <th><a href="javascript:void(0)" ng-click="orderByField='group'; reverseSort = !reverseSort">Group <span ng-show="orderByField == 'group'"></span><i ng-show="!reverseSort" class="icon-sort-up"></i><i ng-show="reverseSort" class="icon-sort-down"></i></a></th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="equipment in filteredEquipments | orderBy:orderByField:reverseSort" ng-if="!equipment.filtered">
                                        <td>{{equipment.equipment}}</td>
                                        <td>{{equipment.system}}</td>
                                        <td><p>{{equipment.description}}</p></td>
                                        <td>{{equipment.group}} <button data-toggle="modal" data-target="#editEquipment" class="edit btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" title="Edit equipment" data-backdrop="false" data-ng-click="update(equipment.$id)" style="margin-left: 10px"><span class="fa fa-edit"></span></button><button id="delete_button1" class="delete btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" title="Delete equipment"data-ng-click="update(equipment.$id); deleteEquipment(equipment.$id);" style="margin-left: 10px"><span class="fa fa-trash-o"></span></button></td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                            <div class="btn-group btn-group-sm" style="float: right">
                                <button type="button" class="btn" ng-class="{'btn-secondary': numPerPage == $index * 5}" ng-repeat="n in [] | range:10" ng-click="changeNumPerPage($index)" ng-if="$index != 0">{{$index * 5}}</button>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-outline-primary" ng-click="changePage('-')">Prev</button>
                                <button type="button" class="btn btn-outline-primary" ng-click="selectedPage(currentPage - 1)" ng-if="currentPage - 1 > 0">{{currentPage - 1}}</button>
                                <button type="button" class="btn btn-primary" ng-click="selectedPage(currentPage)">{{currentPage}}</button>
                                <button type="button" class="btn btn-outline-primary" ng-click="selectedPage(currentPage + 1)" ng-if="currentPage + 1 <= numbers">{{currentPage + 1}}</button>
                                <button type="button" class="btn btn-outline-primary" ng-click="changePage('+')">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Trigger the modal with a button -->

            <!-- Modal For editing Equipment-->
            <div class="modal fade" role="dialog" id="editEquipment" aria-hidden="true" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content txtsize">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">{{equipments[indexValue].equipment}}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="toEditSystem">Equipment</label>
                                    <input type="text" data-ng-model="equipments[indexValue].equipment" class="form-control" id="equiedit" maxlength="9" pattern="[A-Z]{3}[-][A-Z]{1}[0-9]{1}[-][0-9]{2}" onKeyPress="return numchar(event)" onKeyup="autotab(this, document.form1.bendcodeM)">
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="toEditSystem">System</label>
<!--                                    <input type="text" data-ng-model="equipments[indexValue].system" class="form-control" id="toEditSystem">-->
                                    
                                    <select class="form-control" id="selectequ" data-ng-model="equipments[indexValue].system">
                                        <option selected>{{equipments[indexValue].system}}</option>
                                        <option data-ng-repeat="eq in systems track by $index">{{eq.system}}</option>
                                     </select>
                                    
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label for="toEditDesc">Description</label>
                                    <textarea type="text" data-ng-model="equipments[indexValue].description" class="form-control" id="toEditDesc"></textarea>
                                </div>
                            </div>
                            <br/>

                            <div class="row">

                           <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 txtsize">
                             <label for="selectequ">Group</label>
                             <select class="form-control" id="selectequ" data-ng-model="equipments[indexValue].group">
                                <option selected>{{equipments[indexValue].group}}</option>
                                <option data-ng-repeat="eq in groups track by $index">{{eq.group}}</option>
                             </select>
                          </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <div class="alert alert-dismissible alert-success" data-ng-if="editComplete">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Save Complete</strong>
                            </div>
                            <button type="button" class="btn btn-info" data-ng-click="saveEquipment()">Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-fw fa-close"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal For adding Equipment-->
            <div class="modal fade" role="dialog" id="addEquipment" aria-hidden="true" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <form>
                        <div class="modal-content txtsize">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title ">Add Equipment</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <h5>Equipment</h5>
                                        <input list="equipments" name="myEquipments" type="text" class="form-control txtsize" id="equiadd" placeholder="e.g ABC-A0-12"
                                            data-ng-model="equipmentToAdd" maxlength="9" pattern="[A-Z]{3}[-][A-Z]{1}[0-9]{1}[-][0-9]{2}"
                                            onKeyPress="return numchar(event)" onKeyup="autotab(this, document.form1.bendcodeM)">
                                        <datalist id="equipments">
                                            <option data-ng-repeat="e in equipments track by $index">{{e.equipment}}</option>
                                        </datalist>
                                        
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <h5>Description</h5>
                                        <textarea maxlength="50" class="form-control input-md txtsize" id="desc" data-ng-model="descToAdd" placeholder="Write description not more than 50 characters">
                                            <textarea></textarea> <span id='remainingC'></span>
                                        </textarea>
                                        <p id="count"></p>
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <h5>System</h5>
<!--                                        <input type="text" class="form-control input-md txtsize" id="sys" placeholder="Insert system name" data-ng-model="systemToAdd">-->
                                        
                                        <input list="system" name="mySystem" type="text" class="form-control txtsize" id="sys" data-ng-model="systemToAdd" onKeyPress="return numchar(event)"
                                            onKeyup="autotab(this, document.form1.bendcodeM)">
                                        <datalist id="system">
                                            <option data-ng-repeat="e in systems">{{e.system}}</option>
                                        </datalist>
                                        
                                    </div>
                                    
                                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <input type="text" id="other" placeholder="Add new system" ng-model="insys" class="form-control" />
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <button type="button" class="btn btn-primary" data-ng-click="addSystem()">+</button>
                                    </div>
                                    
                                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <h5>Group</h5>
                                        <input list="group" name="myGroup" type="text" class="form-control txtsize" id="equi" data-ng-model="groupToAdd" onKeyPress="return numchar(event)"
                                            onKeyup="autotab(this, document.form1.bendcodeM)">
                                        <datalist id="group">
                                            <option data-ng-repeat="e in groups">{{e.group}}</option>
                                        </datalist>

                                    </div>

                                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <input type="text" id="other" placeholder="Add new group" ng-model="groot" class="form-control" />
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <button type="button" class="btn btn-primary" data-ng-click="addGroup()">+</button>
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-info" data-ng-click="writeUserData()"><span class="fa fa-fw fa-plus"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-fw fa-times"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>