<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="#"><img src="assets/img/logo_xfab.png" height="32"/></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="#!sdt">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" data-placement="right" title="Manage Downtime">
                    <a class="nav-link" href="#!downtime">
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">Manage Downtime</span>
                    </a>
                </li>
                <li class="nav-item" data-placement="right" title="Manage Equipment">
                    <a class="nav-link" href="#!maintain">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Manage Equipment</span>
                    </a>
                </li>
                <li class="nav-item" data-placement="right" title="Manage User">
                    <a class="nav-link" href="#!create">
                        <i class="fa fa-fw fa-user"></i>
                        <span class="nav-link-text">Manage User</span>
                    </a>
                </li>
                <li class="nav-item" data-placement="right" title="User Manual">
                    <a class="nav-link" href="#!manual">
                        <i class="fa fa-fw fa-book"></i>
                        <span class="nav-link-text">User Manual</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                  <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                  </a>
                </li>
              </ul>
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">
                    <label class="nav-link">
                        {{email}}</label>
                </li>
                <li class="nav-item">
                    <a href="#!profile" class="nav-link">
                        <i class="fa fa-fw fa-cog"></i>Setting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-ng-click="signout();">
                        <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
<div class="content-wrapper">
    <div class="container-fluid">
    <div class="page-header">
   <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#!maintain">Manage Equipment</a>
        </li>
        <li class="breadcrumb-item active">Maintaining system and equipment</li>
    </ol>
</div>
<div>
   <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
         <button type="button" class="btn btn-info cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" data-toggle="modal" data-target="#addEquipment" data-backdrop="false">Add New Equipment <span class="fa fa-plus"></span></button>
      </div>
   </div>
   <br/>
    <div class="row">
       <div class="col-md-3 col-md-offset-9">
       <button class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" value="export" onclick="exportToExcel('exTable')" title="Export table (Excel) to computer"><span class="fa fa-fw fa-file-excel-o"></span></button>
    
        <button class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" onclick="HTMLtoPDF()" title="Print table to PDF"><span class="fa fa-fw fa-file-pdf-o"></span></button>
        </div>  
        
        <!--  Export to Excel  -->
    <script>
    function exportToExcel(tableID){
        var tab_text="<table border='2px'><tr bgcolor='#87AFC6' style='height: 75px; text-align: center; width: 250px'>";
        var textRange; var j=0;
        tab = document.getElementById(tableID); // id of table

        for(j = 0 ; j < tab.rows.length ; j++)
        {

            tab_text=tab_text;

            tab_text=tab_text+tab.rows[j].innerHTML.toUpperCase()+"</tr>";
            //tab_text=tab_text+"</tr>";
        }

        tab_text= tab_text+"</table>";
        tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, ""); //remove if u want links in your table
        tab_text= tab_text.replace(/<img[^>]*>/gi,""); //remove if u want images in your table
        tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); //remove input params

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer

        {
            txtArea1.document.open("txt/html","replace");
            txtArea1.document.write( 'sep=,\r\n' + tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa=txtArea1.document.execCommand("SaveAs",true,"sudhir123.txt");
        }

        else {
           sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));
        }

        return (sa);
    }
    </script>
<!-- ENDS HERE-->
        
        
    </div>
    <br>
    <div class="card mb-3">
   <div class="card-header">
      <i class="fa fa-table"></i> Equipment Data
       
       
   </div>
   <div class="card-body">
       <div class="row">
    
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
       <div class="box">    
           <div class="table-responsive" id="HTMLtoPDF">
      <table class="table table-hover" id="exTable">
         <thead class="lockedRecordsBg">
            <tr>
                <th class="sortable asc">Equipment</th>
                <th class="sortable">System</th>
                <th class="sortable">Description</th>        
                <th class="sortable">Group</th>
                
               <th>
                
                </th>
            </tr>
         </thead>
         <tbody>
            <tr id="row1" data-ng-repeat = "equipments in data | orderBy:sortType:sortReverse | filter: search track by $index">
               <td id="name_row1">{{equipments.$id}}</td>
               <td id="country_row1">{{equipments.system}}</td>
               <td id="age_row1"><p>{{equipments.description}}</p></td>
               <td id="group_row1">{{equipments.group}}</td>
             
               <td>
                   
                   
                   <button data-toggle="modal" data-target="#editEquipment" class="edit btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" title="Edit equipment" data-backdrop="false" data-ng-click="update($index)"><span class="fa fa-edit"></span></button><button style="margin-left: 5px" id="delete_button1" class="delete btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" title="Delete equipment" data-ng-click="update($index); deleteEquipment();"><span class="fa fa-trash-o"></span></button>
                
                
                </td> 
            </tr>
         </tbody>
         <tfoot>
             <container>
             <div class="row" style="margin-left: 2px">
                 <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-md-offset-6">
                   <div id="custom-search-input">
                        <div class="input-group">
                            <input type="text" class="search-query form-control" placeholder="Search" data-ng-model="search"/>
                        </div>
                       <br>
                    </div>
                 </div>
             </div>
            </container>
             
         </tfoot>
         
      </table>
               </div>
           </div>
   </div>
       </div>
        </div>
</div>


<!-- Trigger the modal with a button -->

<!-- Modal For editing Equipment-->
<div class="modal fade" role="dialog" id="editEquipment" aria-hidden="true" tabindex="-1">
   <div class="modal-dialog modal-lg">
         <div class="modal-content txtsize">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Edit {{data[indexValue].$id}}</h4>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="toEditSystem">System</label>
                            <input type="text" data-ng-model="data[indexValue].system" class="form-control" id="toEditSystem" >
                        </div>
                    </div>
                <br/>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="toEditDesc">Description</label>
                            <textarea type="text" data-ng-model="data[indexValue].description" class="form-control" id="toEditDesc" ></textarea>
                        </div>
                    </div>  
                <br/>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="toEditGroup">Group</label>
                            <input type="text" data-ng-model="data[indexValue].group" class="form-control" id="toEditGroup" readonly/>
                                <ul class="nav" role="navigation">
                                <li class="dropdown"> <a id="searchType" role="button" class="dropdown-toggle" data-toggle="dropdown" data-ng-model="groupToAdd"><b class="caret"></b></a>

                                    <ul class="dropdown-menu" id="browsers" role="menu">
                                        <li role="presentation"><a role="menuitem" tabindex="-1">Mechanical</a>
                                        </li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1"><input type="text" id="browsers" placeholder="Other Group"/><span></span><button>+</button></a>

                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                
            </div>
            <div class="modal-footer">
                <div class="alert alert-dismissible alert-success" data-ng-if="editComplete">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Save Complete</strong>
                </div>
            <button type="button" class="btn btn-info" data-ng-click="saveEquipment()">Save</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-fw fa-close"></span></button>
            </div>
         </div>
   </div>
</div>

<!-- Modal For adding Equipment-->
<div class="modal fade" role="dialog" id="addEquipment" aria-hidden="true" tabindex="-1">
   <div class="modal-dialog modal-lg">
       <form>
         <div class="modal-content txtsize">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title ">Add Equipment</h4>
            </div>
            <div class="modal-body">
               <div class="row">
                  <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                     <h5>Equipment</h5>
                     <input list="equipments" name="myEquipments" type="text" class="form-control txtsize" id="equi" placeholder="e.g ABC-A0-12" data-ng-model="equipmentToAdd" maxlength="9" pattern="[A-Z]{3}[-][A-Z]{1}[0-9]{1}[-][0-9]{2}" onKeyPress="return numchar(event)" onKeyup="autotab(this, document.form1.bendcodeM)">
                      <datalist id="equipments">
                        <option data-ng-repeat="e in data">{{e.$id}}</option>
                      </datalist>
                      
<!--                      <div data-ng-repeat="e in data"> e.$id</div>-->
                  </div>
                   
                  <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                        <h5>Description</h5>
                           <textarea maxlength="50" class="form-control input-md txtsize" id="desc" data-ng-model="descToAdd" placeholder="Write description not more than 50 characters"><textarea></textarea> <span id='remainingC'></span></textarea>
                           <p id="count"></p>
                  </div>
               
                  <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <h5>System</h5>
                     <input type="text" class="form-control input-md txtsize" id="sys" placeholder="Insert system name" data-ng-model="systemToAdd">
                  </div>
                   
                  <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <h5>Group</h5>
                     <input list="browsers" name="browser" class="form-control" id="searchType" placeholder="Select group" data-ng-model="groupToAdd">
                     <datalist id="browsers">
                        <option value="Mechanical">
                         <input type="text" id="other" placeholder="Other Group"/>   
                     </datalist>
                   </div>
               
            </div>
                
            <div class="modal-footer">
            <button type="submit" class="btn btn-info" data-ng-click="writeUserData()"><span class="fa fa-fw fa-plus"></span></button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-fw fa-times"></span></button>
            </div>
         </div>
          </div>
           </form>
   </div>
</div>
    </div>
</div>
