<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#!create">Manage User</a>
        </li>
        <li class="breadcrumb-item active">Creating new users</li>
    </ol>
    
</div>

<div class="card mb-3">
   <div class="card-header">
      <i class="fa fa-user"></i> Create
   </div>
   <div class="card-body">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="email">Email</label>
            <input type="email" ng-model="toAddEmail" class="form-control col-xs-12 col-sm-6 col-md-6 col-lg-6" id="email" placeholder="e.g: abc123@def456.com" >

            <label for="password">Password</label>
            <input type="password" ng-model="password" class="form-control col-xs-12 col-sm-6 col-md-6 col-lg-6" id="password" placeholder="More than 6 alphanumeric characters" >
            
            <br>
             
            <button data-ng-click="createUser()" class="btn btn-info cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active">Create User  <span class="fa fa-plus"></span></button>
        </div>
        
    </div>    
    <br>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="box">
            <div class="table-responsive">
    <table class="table table-hover">
        <thead>
                    <tr>
                      <th>List of Existing Users Emails</th>
                        
                    </tr>
        </thead>
                  <tbody>
                    <tr data-ng-repeat="d in allUsers">
                        <td>{{d.$value}}</td>
                        
                        

                    </tr>
                    
                  </tbody>
    </table>
                </div>
            </div>
    </div>
    </div>
</div>

<div class="modal fade" id="changePassword">
   <div class="modal-dialog modal-lg">
     <div class="modal-content txtsize">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h4 class="modal-title">Change Password</h4>
       </div>
       <div class="modal-body">
         <label for="email">Email</label>
            <input type="text" ng-model="email" class="form-control" id="email">

            <label for="password">Password</label>
            <input type="password" ng-model="password" class="form-control" id="password">
           
       </div>
       <div class="modal-footer">
           
           <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
  </div>