<header-file></header-file>

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#!create">Manage User</a>
                </li>
                <li class="breadcrumb-item active">Manage User Accounts</li>
            </ol>

        </div>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-user"></i> User Activation
            </div>
            <div class="card-body">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="box">
                        <div class="table-responsive">
                            
                            <div class="input-append">
                                <input type="text" class="form-control col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-model="filterWord" placeholder="Search by user email">
                            </div>
                            
                            <br>
                            
                            <table class="table table-bordered bordered table-striped table-condensed datatable">
                                <thead>
                                    <tr>
                                        <th><a href="javascript:void(0)" ng-click="orderByField='email'; reverseSort = !reverseSort">List of Existing Users Emails <span ng-show="orderByField == 'email'"><i ng-show="!reverseSort" class="icon-sort-up"></i><i ng-show="reverseSort" class="icon-sort-down"></i></span></a></th>
                                        <th>Activate/Deactivate</th>
                                        <th>Delete User</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="d in filteredUsers | orderBy:orderByField:reverseSort" ng-if="!d.filtered">
                                        <td>{{d.email}}</td>
                                        
                                        <td>
                                            <button data-ng-if="userStates.$getRecord(d.$id).active" class="btn btn-danger col-xs-6 col-sm-6 col-md-6 col-lg-6" data-ng-click="deactivateUser(d.$id)">Deactivate</button>
                                            <button data-ng-if="!userStates.$getRecord(d.$id).active" class="btn btn-success col-xs-6 col-sm-6 col-md-6 col-lg-6" data-ng-click="activateUser(d.$id)">Activate</button>
                                        </td>
                                        
                                        <td>
                                            <button class="btn btn-danger col-xs-6 col-sm-6 col-md-6 col-lg-6" data-ng-click="deleteUser(d.$id); getId(d.$id);">Delete</button>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                            <div class="btn-group btn-group-sm" style="float: right">
                                <button type="button" class="btn" ng-class="{'btn-secondary': numPerPage == $index * 5}" ng-repeat="n in [] | range:10" ng-click="changeNumPerPage($index)" ng-if="$index != 0">{{$index * 5}}</button>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-outline-primary" ng-click="changePage('-')">Prev</button>
                                <button type="button" class="btn btn-outline-primary" ng-click="selectedPage(currentPage - 1)" ng-if="currentPage - 1 > 0">{{currentPage - 1}}</button>
                                <button type="button" class="btn btn-primary" ng-click="selectedPage(currentPage)">{{currentPage}}</button>
                                <button type="button" class="btn btn-outline-primary" ng-click="selectedPage(currentPage + 1)" ng-if="currentPage + 1 <= numbers">{{currentPage + 1}}</button>
                                <button type="button" class="btn btn-outline-primary" ng-click="changePage('+')">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>