<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="#"><img src="assets/img/logo_xfab.png" height="32"/></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="#!sdt">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" data-placement="right" title="Manage Downtime">
                    <a class="nav-link" href="#!downtime">
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">Manage Downtime</span>
                    </a>
                </li>
                <li class="nav-item" data-placement="right" title="Manage Equipment">
                    <a class="nav-link" href="#!maintain">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Manage Equipment</span>
                    </a>
                </li>
                <li class="nav-item" data-placement="right" title="Manage User">
                    <a class="nav-link" href="#!create">
                        <i class="fa fa-fw fa-user"></i>
                        <span class="nav-link-text">Manage User</span>
                    </a>
                </li>
                <li class="nav-item" data-placement="right" title="User Manual">
                    <a class="nav-link" href="#!manual">
                        <i class="fa fa-fw fa-book"></i>
                        <span class="nav-link-text">User Manual</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                  <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                  </a>
                </li>
              </ul>
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">
                    <label class="nav-link">
                        {{email}}</label>
                </li>
                <li class="nav-item">
                    <a href="#!profile" class="nav-link">
                        <i class="fa fa-fw fa-cog"></i>Setting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-ng-click="signout();">
                        <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
<div class="content-wrapper">
    <div class="container-fluid">
    <div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#!create">Manage User</a>
        </li>
        <li class="breadcrumb-item active">Creating new users</li>
    </ol>
    
</div>

<div class="card mb-3">
   <div class="card-header">
      <i class="fa fa-user"></i> Create
   </div>
   <div class="card-body">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="email">Email</label>
            <input type="email" ng-model="toAddEmail" class="form-control col-xs-12 col-sm-6 col-md-6 col-lg-6" id="email" placeholder="e.g: abc123@def456.com" >

            <label for="password">Password</label>
            <input type="password" ng-model="password" class="form-control col-xs-12 col-sm-6 col-md-6 col-lg-6" id="password" placeholder="More than 6 alphanumeric characters" >
            
            <br>
             
            <button data-ng-click="createUser()" class="btn btn-info cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active">Create User  <span class="fa fa-plus"></span></button>
        </div>
        
    </div>    
    <br>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="box">
            <div class="table-responsive">
    <table class="table table-hover">
        <thead>
                    <tr>
                      <th>List of Existing Users Emails</th>
                        
                    </tr>
        </thead>
                  <tbody>
                    <tr data-ng-repeat="d in allUsers">
                        <td>{{d.$value}}</td>
<!--
                        <td>
                            <p data-ng-if="userStates.$getRecord(d.$id).$value">ACTIVATED</p>
                            <p data-ng-if="!userStates.$getRecord(d.$id).$value">DEACTIVATED</p>
                        </td>
-->
                        
                        <td>
                            <button data-ng-if="userStates.$getRecord(d.$id).$value" class="btn btn-danger" data-ng-click="deactivateUser(d.$id)">Deactivate</button>
                            <button data-ng-if="!userStates.$getRecord(d.$id).$value" class="btn btn-success" data-ng-click="activateUser(d.$id)">Activate</button>
                        </td>
<!--
                        <td>
                            <button id="delete_button1" class="delete btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" title="Deactivate User" data-ng-click="activateUser(d.$id)"><span class="fa fa-id-badge"></span></button></td>
-->
                    
                    </tr>
                    
                  </tbody>
    </table>
                </div>
            </div>
    </div>
    </div>
</div>
    </div>
</div>
