<header-file></header-file>

<div class="content-wrapper" data-ng-controller = "archivesCtrl">
    
    <div class="container-fluid">
        <div class="row">
        
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card mb-3">
                <div class="card-header">
          <i class="fa fa-table"></i> Archived Downtime Data
        </div>
        <div class="card-body">
          <div class="table-responsive">
              
              <div class="input-append">
                    <input type="text" class="form-control col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-model="archivedEquipment" placeholder="Search by equipment">
              </div>
            <br>
            <table class="table table-bordered bordered table-striped table-condensed datatable">
              <thead class="lockedRecordsBg">
                  <tr>
                     <th><a href="javascript:void(0)" ng-click="orderByField='equipment'; reverseSort = !reverseSort">Equipment<span ng-show="orderByField == 'equipment'"><i ng-show="!reverseSort" class="icon-sort-up"></i><i ng-show="reverseSort" class="icon-sort-down"></i></span></a></th>
                      
                     <th><a href="javascript:void(0)" ng-click="orderByField='start'; reverseSort = !reverseSort">Start <span ng-show="orderByField == 'start'"><i ng-show="!reverseSort" class="icon-sort-up"></i><i ng-show="reverseSort" class="icon-sort-down"></i></span></a></th>
                      
                     <th><a href="javascript:void(0)" ng-click="orderByField='end'; reverseSort = !reverseSort">End <span ng-show="orderByField == 'end'"><i ng-show="!reverseSort" class="icon-sort-up"></i><i ng-show="reverseSort" class="icon-sort-down"></i></span></a></th>
                      
                     <th><a href="javascript:void(0)" ng-click="orderByField='description'; reverseSort = !reverseSort">Description <span ng-show="orderByField == 'description'"><i ng-show="!reverseSort" class="icon-sort-up"></i><i ng-show="reverseSort" class="icon-sort-down"></i></span></a></th>
                      
                     <th><a href="javascript:void(0)" ng-click="orderByField='type'; reverseSort = !reverseSort">Type <span ng-show="orderByField == 'group'"></span><i ng-show="!reverseSort" class="icon-sort-up"></i><i ng-show="reverseSort" class="icon-sort-down"></i></a></th>
                  </tr>
               </thead>
               <tbody>
                  <tr data-ng-repeat="d in filteredArchivedData | orderBy:orderByField:reverseSort | filter: d track by $index" ng-if="!d.filtered"> 
                     <td>{{d.Equipment}}</td>
                     <td>{{d.Start}}</td>
                     <td>{{d.End}}</td>
                     <td>{{d.Description}}</td>
                     <td>{{d.Type}}</td>
<!--
                     <td>
                         <button style="margin-left: 10px" id="delete_button1" class="delete btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" title="Delete downtime" data-ng-click="update(d.id); deleteArchivedDowntime();"><span class="fa fa-trash-o"></span></button>
                      </td>
-->
                  </tr>
               </tbody>
       
            </table>
              <div class="btn-group btn-group-sm" style="float: right">
                                <button type="button" class="btn" ng-class="{'btn-secondary': numPerPage == $index * 5}" ng-repeat="n in [] | range:10" ng-click="changeNumPerPage($index)" ng-if="$index != 0">{{$index * 5}}</button>
                            </div>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-outline-primary" ng-click="changePage('-')">Prev</button>
                                <button type="button" class="btn btn-outline-primary" ng-click="selectedPage(currentPage - 1)" ng-if="currentPage - 1 > 0">{{currentPage - 1}}</button>
                                <button type="button" class="btn btn-primary" ng-click="selectedPage(currentPage)">{{currentPage}}</button>
                                <button type="button" class="btn btn-outline-primary" ng-click="selectedPage(currentPage + 1)" ng-if="currentPage + 1 <= numbers">{{currentPage + 1}}</button>
                                <button type="button" class="btn btn-outline-primary" ng-click="changePage('+')">Next</button>
                            </div>
              
          </div>
        </div>
                
            </div>
            </div>
        </div>
    </div>

</div>